/*
 * This stylesheet was created as part of a bachelor thesis.
 * For more information, visit: https://github.com/StyxOo/styxoo.github.io
 * Author: Luis Rothenhäusler
 * Last edit: 25th August 2022
 *
 * It contains the style definition for the Sankey diagram.
 */

body {
    margin: 0px;
    overflow: hidden;
}

rect:hover {
    stroke: lightskyblue;
    stroke-width: 0.2em;
}

rect {
    stroke: #635F5D;
}

text {
    font-size: 0.8em;
    font-family: sans-serif;
    fill : #635F5D;
    pointer-events: none;
}