/*
 * This stylesheet was created as part of a bachelor thesis.
 * For more information, visit: https://github.com/StyxOo/styxoo.github.io
 * Author: Luis Rothenhäusler
 * Last edit: 25th August 2022
 *
 * It contains the style definition for the bar chart.
 */

body {
    margin: 0px;
    overflow: hidden;
}


text {
    font-size: 1em;
    font-family: sans-serif;
    fill : #635F5D;
    pointer-events: none;
}

.barText {
    font-size: 0.75em;
}

.tick line {
    opacity: 50%;
    stroke: #635F5D;
}
